<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<body id="body">
  <br>
  <div style="margin:10%;width:50%;margin:auto;clear:both;" class="card">
  <h3 class="card-header" style="padding:10px; text-align:center">IBM LinuxOne Docker Service Broker POC</h3>
  <div class="card-block" style="padding:10px; ">
    <h4 class="card-title" style="text-align:center">Select the Docker Container you'd like to run below!</h4>
    <p class="card-text" style="text-align:center">For additional information about the docker container, click the ? button</p>
    <div class="dropdown" style="display:inline">
<button class="btn btn-primary dropdown-toggle" type="button" id="docker-selector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Docker!{{fun}}
</button>
<div class="dropdown-menu" aria-labelledby="about-us">
<a class="dropdown-item" onclick='javascript:document.getElementById("docker-selector").innerHTML="test1"' href='#'>test1</a>
<a class="dropdown-item" onclick='javascript:document.getElementById("docker-selector").innerHTML="test2"' href='#'>test2</a>
<a class="dropdown-item" onclick='javascript:document.getElementById("docker-selector").innerHTML="test3"' href='#'>test3</a>
</div>
</div>
<button class="btn btn-primary" id="launch" style="float:right;display:inline" type="submit">Launch!</button>
</div>
<script>
$("#launch").click(function(){
    $.post("/", {"docker":$("#docker-selector").html()}).done(function(result){
        $("#body").prepend('<div class="alert alert-success" role="alert">'+result+'</div>');
    });
  });
</script>
</body>
</html>
